@model TravelClient.Models.Destination

<h1>Details for this destination</h1>

<h3>@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City)</h3>


<ul>
    <li>Country: @Model.Country</li>
    <li>City: @Model.City</li>
    <li>Rating: @Model.Rating</li>
    <li>Review: @Model.Review</li>
    <li>Date: @Model.Date</li>
</ul>
<p>@Html.ActionLink("Delete Destination", "Delete", new { id = Model.DestinationId })</p>
<p>@Html.ActionLink("Edit Destination", "Edit", new { id = Model.DestinationId})</p>
