@* @model TravelClient.Models.Destination

<h1>Details for this destination</h1>

<h3>@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City)</h3>

<ol>
@if (@Model.Count == 0)
{
    <p>This Destination No longer exists</p>
}
else
{
    <ul>
        <li>Country: @model.Country</li>
        <li>City: @model.City</li>
        <li>Rating: @model.Rating</li>
        <li>Review: @model.Review</li>
        <li>Date: @model.Date</li>
    </ul>
    <p>@Html.ActionLink("Delete Destination", "Delete", new { id = Model.DestinationId })</p>
    <br>
}
</ol> *@